%h1 Dashboard


- if @projects.length > 0
  %ul.project-list
    = render @projects
- else
  %p.no-project
    You don't have any project yet. 
    %br/
    Use the box bellow to create one.


.well
  %h4 Create a new project:
  = form_for Project.new, :html => { class: "form-horizontal" } do |f|
    .control-group
      = f.label :name, "Project name", class: "control-label"
      .controls
        = f.text_field :name
    .control-group
      .controls
        = f.submit class: "btn btn-primary"
