%h1 Dashboard

%ul.project-list
  = render @projects

.well
  = form_for Project.new, :html => { class: "form-horizontal" } do |f|
    .control-group
      = f.label :name, class: "control-label"
      .controls
        = f.text_field :name
    .control-group
      .controls
        = f.submit class: "btn btn-primary"


  :javascript
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('0f5ad327c0a36a8fe378');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data);
    });