.well
  %h1 Send email to inform others


  = form_tag(send_reviewed_image_version_path(@image_version), :method=>'post') 
  .well.email-background
    %p
      = "<b>To:</b> #{@project.collaborators.map(&:email).join(', ')}".html_safe
    %hr
    %p
      = "<b>Subject:</b> #{current_user.email} has reviewed '#{@image_version.page.name}' (version #{@image_version.version_number})".html_safe
    %hr
    %p
      Hi,

    %p
      = "#{current_user.email} has marked the mockup for version #{ @image_version.version_number} of '#{@image_version.page.name}' as reviewed."
    %p
      (optional note):
    %p
      = text_area_tag "note", "", :size=>"80x5", :class => "review-note-area"
    %p
      You can consult it here:
    %p
      = preview_image_version_url(@image_version)
    %p
      Regards

  %p
    = submit_tag 'Send email', :class => "btn btn-success"

    / %a{:href => send_reviewed_image_version_path(@image_version), :class => "btn btn-success"}
    /   %i.icon-envelope.icon-white
    /   Send email
