%body.preview{"ng-controller" => "UserNotificationViewModel"}
  = render "preview_navbar"

  #main-preview.iphone-preview{"ng-controller" => "NotesViewModel"}
    .content-preview#userdata{"data-current-user-id" => current_user.id, "data-current-user-email" => current_user.email}

      - version = @page.previous_version
      - if version
        .iphone.previous-version
          .version-number= "<b>Version #{version.version_number}</b> (#{time_ago_in_words(version.created_at)} ago)".html_safe
          .screenshot.screenshot-portrait.image-container{"data-image-version" => version.id}
            = image_tag version.image.url
            .notes
              = render :partial => "annotations/annotations", :locals => { :annotations => version.annotations }



      .iphone.current-version
        .version-number= "<b>Version #{@image_version.version_number}</b> (#{time_ago_in_words(@image_version.created_at)} ago)".html_safe
        .screenshot.screenshot-portrait.image-container.selectable{"data-image-version" => @image_version.id}
          = image_tag @image_version.image.url, "note-creation-triggers" => ""
          .notes
            = render :partial => "annotations/annotations", :locals => { :annotations => @image_version.annotations }






    %aside
      = render :partial => 'aside', :locals => { :annotations => @image_version.annotations }


.flash-message-box{"show-notifications" => ""}
