%body.preview
  .navbar.navbar-fixed-bottom.navbar-inverse
    .navbar-inner
      .container
        %ul.nav
          %li.divider-vertical
          %li
            = link_to project_page_path(@image_version.page.project, @image_version.page) do
              %i.icon-circle-arrow-left.icon-white
              Back

          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Page: #{@image_version.page.name}
              %b.caret
            %ul.dropdown-menu.page-navigator-menu
              - @project = @image_version.page.project
              %li.nav-header
                Project: #{@project.name}
              %li.divider
              - @project.pages.each do |page| 
                %li
                  %a{:href => preview_image_version_path(page.latest_version)} 
                    = image_tag page.latest_version.image_url(:thumb_top)
                    = page.name
                %li.divider

          %li.divider-vertical


        %ul.nav.pull-right
          %li
            .btn.btn-success
              %i.icon-ok.icon-white
              Mark as reviewed

          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-share.icon-white
              Share
            %ul.dropdown-menu.page-navigator-menu
              - @project = @image_version.page.project
              %li.nav-header
                Project: #{@project.name}
              %li.divider
              %li
                %a
                  Send link to page
                  %input{:placeholder => "http://mockupgo.herokuapp.com/share/4EERTDD64333/", :type => "text"}/
              %li.divider

          %li.divider-vertical
          %li
            %a{"data-toggle" => "modal", :href => "#help-popup"}
              %i.icon-question-sign.icon-white
              Help

          %li.divider-vertical


  .content
    .background-container{:style => "background-image: url('#{@image_version.image_url(:background)}');"}
      .image-container.selectable{"data-image-version" => @image_version.id, :style => "position: relative; width: #{@image_version.width}px;"}
        = image_tag @image_version.image.url

        .notes
          = render :partial => "annotations/annotations", :locals => { :annotations => @image_version.annotations }

  = render partial: "help_popup"

  - if @dislay_help_modal_on_load
    :javascript
      $('#help-popup').modal('show')
