%body.preview
  = render "preview_navbar"

  .content#userdata{"data-current-user-id" => current_user.id, "data-current-user-email" => current_user.email}
    .background-container{:style => "background-image: url('#{@image_version.image_url(:background)}');"}
      .image-container.selectable{"data-image-version" => @image_version.id, :style => "position: relative; width: #{@image_version.width}px;"}
        = image_tag @image_version.image.url

        .notes
          = render :partial => "annotations/annotations", :locals => { :annotations => @image_version.annotations }


  = render partial: "help_popup"

  - if @dislay_help_modal_on_load
    :javascript
      $('#help-popup').modal('show')
