%body.preview{"ng-app" => "AnnotationApp", "ng-controller" => "annotationsCtrl"}
  = render "preview_navbar"

  .content
    .background-container{"annotable" => "", :style => "background-image: url('#{@image_version.image_url(:background)}');"}
      .image-container{"data-image-version" => @image_version.id, :style => "position: relative; width: #{@image_version.width}px;"}
        = image_tag @image_version.image.url


        .notes
          %note{"ng-repeat" => "note in annotations",
                "data-id"     => "note.id",
                "note-top"    => "note.top",
                "note-left"   => "note.left",
                "note-width"  => "note.width",
                "note-height" => "note.height"}
            {{note.comment}}


      {{ image_version_id }}

  = render partial: "help_popup"

  - if @dislay_help_modal_on_load
    :javascript
      $('#help-popup').modal('show')