!!!
%html
  %head
    %titleMockupGo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{:content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;", :name => "viewport"}/

  %body
    .screenshot.selectable{"data-image-version" => @image_version.id}
      = image_tag @image_version.image.url
      .notes
        = render :partial => "annotations/annotations", :locals => { :annotations => @image_version.annotations }


%script{:src => "http://js.pusher.com/1.12/pusher.min.js", :type => "text/javascript"}
