%body.preview
  .navbar.navbar-fixed-bottom.navbar-inverse
    .navbar-inner
      .container
        %ul.nav
          %li.divider-vertical
          %li
            = link_to project_page_path(@image_version.page.project, @image_version.page) do
              %i.icon-circle-arrow-left.icon-white
              Back

          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Page: #{@image_version.page.name}
              %b.caret
            %ul.dropdown-menu.page-navigator-menu
              - @project = @image_version.page.project
              %li.nav-header
                Project: #{@project.name}
              %li.divider
              - @project.pages.each do |page| 
                %li
                  %a{:href => preview_image_version_path(page.latest_version)} 
                    = image_tag page.latest_version.image_url(:thumb_top)
                    = page.name
                %li.divider

          %li.divider-vertical


        %ul.nav.pull-right
          %li
            .btn.btn-success
              %i.icon-ok.icon-white
              Marquer comme vue

          %li.divider-vertical
          %li
            %a 
              %i.icon-question-sign.icon-white
              Aide

          %li.divider-vertical


  .content
    .background-container{:style => "background-image: url('#{@image_version.image_url(:background)}');"}
      .image-container.selectable{"data-image-version" => @image_version.id, :style => "position: relative; width: #{@image_version.width}px;"}
        = image_tag @image_version.image.url

        .notes
          = render :partial => "annotations/annotations", :locals => { :annotations => @image_version.annotations }


  <-- Help Popup Modal -->
  #help-popup.modal.hide.fade
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3 Comment rajouter une note ?
    .modal-body
      %p One fine body…
    .modal-footer
      %a.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"}  Fermer

  :javascript
    $('#help-popup').modal('show')

