%h1
  =link_to project_url(@project), :class => "btn btn-large" do 
    %i{class: "icon-home"}
    = @project.name

  = @page.name

  = link_to edit_project_page_path(@project, @page), class: "btn btn-mini" do
    %i{class: "icon-edit"}
    Edit

  = link_to [@project, @page], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-mini" do
    %i{class: "icon-trash"}
    Delete

.row
  .span8
    - if @page.latest_version
      = link_to preview_image_version_path(@page.latest_version) do
        = image_tag @page.latest_version.image.url
  .span4
    Comments here
