#page-show.navigation{"data-project-id" => @project.id, "data-page-id" => @page.id}
  =link_to dashboard_url, :class => "" do 
    %i{class: "icon-home"}
    Dashboard
  &nbsp;>&nbsp;
  =link_to project_url(@project), :class => "" do 
    %i{class: "icon-th"}
    = @project.name


%h1
  = @page.name

  = link_to edit_project_page_path(@project, @page), class: "btn btn-mini", :data => { :toggle => 'modal', :target => '#edit-modal', :remote => 'false' } do
    %i{class: "icon-edit"}
    Edit
    

.row
  .span8
    - if @page.latest_version
      = link_to preview_image_version_path(@page.latest_version) do
        - if image_tag @page.latest_version.image_url(:medium)
          = image_tag @page.latest_version.image_url(:medium)
        - else
          = image_tag @page.latest_version.image.url
  .span4.aside
    .well
      %p
        %a.btn.btn-success{:href => preview_image_version_path(@page.latest_version)}
          Preview and annotate mockup
          %i.icon-arrow-right.icon-white

      Mockup display mode: 
      #display-style.btn-group
        %button.btn.desktop{"data-display-mode" => "desktop"} Desktop
        %button.btn.iphone-portrait{"data-display-mode" => "iphone-portrait"} iPhone Portrait


    - cnt = 0
    - @page.latest_version.annotations.each do |annotation|
      %p
        %span.note-counter= cnt += 1
        = annotation.comment
      .clear-both


#edit-modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Edit page
  .modal-body
    = render :partial => "form", :locals => { :page => @page }
    %hr
    = link_to [@project, @page], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" do
      %i{class: "icon-trash"}
      Delete page "#{@page.name}"

%ul
  %li Timeline view