%h1
  = @page.name
  = link_to 'Delete page', [@project, @page], confirm: 'Are you sure?', method: :delete, class: "btn"
  

= image_tag @page.image_versions.last.image.url


= form_for @page.image_versions.build, :html => {:multipart => true} do |f|
  = f.hidden_field :page_id
  %p
    = f.file_field :image, multiple: true, name: "image_version[image]"
  %p
    = f.submit