= form_for project, :html => { class: "form-horizontal" } do |f|
  .control-group
    %label.control-label
      Project owner
    .controls
      .input-xlarge.uneditable-input
        #{project.owner.email}
  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name
  .control-group
    .controls
      = f.submit class: "btn btn-primary"

%hr
%h4 Manage collaborators

%table.table.table-striped#collaborators-table
  %thead
    %tr
      %th 
      %th email
      %th action
  - project.collaborators.each do |user|
    %tr{id: "user_#{user.id}" }
      %td
        - if user == project.owner
          .label
            owner
      %td=user.email
      %td
        - unless user == project.owner
          = button_to "remove access", {:controller => "projects_users", :action => "destroy", :user_id => user.id, :project_id => project.id}, :method => :delete, :remote => true, :class => 'btn btn-small', :confirm => "Are you sure?"

= form_tag projects_users_path, { class: "form-horizontal" } do
  = hidden_field_tag(:project_id, project.id)
  .control-group
    = label_tag :email, "email", class: "control-label"
    .controls
      = text_field_tag :email
  .control-group
    .controls
      = submit_tag "Add collaborator", class: "btn btn-primary"
