= form_for project, :html => { class: "form-horizontal" } do |f|
  .control-group
    %label.control-label
      Project owner
    .controls
      .input-xlarge.uneditable-input
        #{project.owner.email}
  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name
  .control-group
    .controls
      = f.submit class: "btn btn-primary"

%hr
%h4 Manage collaborators

%table.table.table-striped#collaborators-table
  %thead
    %tr
      %th name
      %th email
      %th action
  - project.collaborators.each do |user|
    %tr{id: "user_#{user.id}" }
      %td 
      %td=user.email
      %td
        %a.btn.btn-small{href: "#"}
          %i.icon-remove
          remove access

= form_tag projects_users_create_path, { class: "form-horizontal" } do
  = hidden_field_tag(:project_id, project.id)
  .control-group
    = label_tag :email, "email", class: "control-label"
    .controls
      = text_field_tag :email
  .control-group
    .controls
      = submit_tag "Add collaborator", class: "btn btn-primary"
