.navigation
  =link_to dashboard_url, :class => "" do 
    %i{class: "icon-home"}
    Dashboard

%h1.project

  = @project.name


  = link_to edit_project_path(@project), class: "btn btn-mini" do
    %i{class: "icon-edit"}
    Manage project


%ul#images.clearfix
  = render @project.pages


.well.clearfix
  %h4 Import new mockups
  = form_for [@project, @project.pages.build], :html => {:multipart => true} do |f|
    = f.file_field :image_versions, multiple: true, name: "image_version[image]"
    = f.submit "Import"









%ol.timeline.clearfix
  %li.spine
    %a{:href => "#", :title => "This is the Spine of Facebook Timline. You can Add Custom Events here"}

  - @project.pages.order('created_at DESC').each do |page|
    -if page.latest_version and page.latest_version.annotations.length > 0
      %li.right
        %i.pointer
        .unit
          / Story
          .storyUnit
            .imageUnit
              %a{:href => "#"}
                %img{:alt => "", :height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg", :width => "32"}/
              .imageUnit-content
                %h4
                  %a{:href => "#"} Bob
                %p= "#{time_ago_in_words(page.created_at)} ago"

            %p
              %b= "Commented on '#{page.name}'"
            %p
              - if page.latest_version
                - page.latest_version.annotations.each do |annotation|
                  %p= annotation.comment


    %li.left
      %i.pointer
      .unit
        / Story
        .storyUnit
          .imageUnit
            %a{:href => "#"}
              %img{:alt => "", :height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg", :width => "32"}/
            .imageUnit-content
              %h4
                %a{:href => "#"} Vinay
              %p= "#{time_ago_in_words(page.created_at)} ago"

          %p
            %b= "New version uploaded for '#{page.name}'"
          %p
            - if page.latest_version
              = link_to project_page_path(@project, page) do
                %span.thumb
                  = image_tag page.latest_version.image_url(:thumb_top)



  %li.left
    %i.pointer
    .unit
      %ol.actions
        %li.active
          %a{:href => "#", :rel => "Status"}
            %i.icon.icon-status>
            Status
        %li
          %a{:href => "#"}
            %i.icon.icon-photo>
            Photo
        %li
          %a{:href => "#"}
            %i.icon.icon-place>
            Place
        %li
          %a{:href => "#"}
            %i.icon.icon-event>
            Life Event
      / Units
      .actionUnits
        #Status.formUnit
          %i.active
          %textarea{:cols => "30", :id => "", :name => "", :placeholder => "What's on your mind?", :rows => "3"}
          %ol.controls.clearfix
            %li.post
              %button.uibutton.confirm{:type => "submit"} Post
      / / Units
  %li.right
    %i.pointer
    .unit
      / Story
      .storyUnit
        .imageUnit
          %a{:href => "#"}
            %img{:alt => "", :height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg", :width => "32"}/
          .imageUnit-content
            %h4
              %a{:href => "#"} Vinay
            %p 20 hours ago via Twitter
        %p Just wow.. Harry potter and voldemort at #London2012 opening















#edit-modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Edit project
  .modal-body
    = render :partial => "form", :locals => { :project => @project }
    %hr
    = link_to @project, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" do
      %i{class: "icon-trash"}
      Delete Project "#{@project.name}"


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

