%h1
  = @project.name



%ul#images
  - @project.pages.each do |page|
    %li
      = image_tag page.latest_version.image_url(:thumb_top) if page.latest_version and page.latest_version.image?
      = link_to page.name, [@project, page]



.well
  = form_for [@project, @project.pages.build], :html => {:multipart => true} do |f|
    %p
      = f.file_field :image_versions, multiple: true, name: "image_version[image]"
    %p
      = f.submit "Import"



= render :partial => "pages/form", :locals => { :page => @project.pages.new }


= link_to 'Delete project', @project, confirm: 'Are you sure?', method: :delete




<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>