%h1
  = @project.name

- @project.pages.each do |page|
  %li
    = link_to page.name, [@project, page]


.well
  = form_for [@project, @project.pages.build], :html => {:multipart => true} do |f|
    %p
      = f.file_field :image_versions, multiple: true, name: "image_version[image]"
    %p
      = f.submit "Import"



= render :partial => "pages/form", :locals => { :page => @project.pages.new }


= link_to 'Delete project', @project, confirm: 'Are you sure?', method: :delete