.navigation
  =link_to dashboard_url, :class => "" do 
    %i{class: "icon-home"}
    Dashboard

%h1
  = @project.name

  = link_to edit_project_path(@project), class: "btn btn-mini" do
    %i{class: "icon-edit"}
    Edit


%ul#images.clearfix
  = render @project.pages



.well.clearfix
  %h4 Import new mockups
  = form_for [@project, @project.pages.build], :html => {:multipart => true} do |f|
    = f.file_field :image_versions, multiple: true, name: "image_version[image]"
    = f.submit "Import"



<script id="template-upload" type="text/x-tmpl">
<div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>