!!!
%html
  %head
    %titleMockupGo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      .content
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key == :notice ? "success" : "error"}"}= value
        
      %div
        = yield
        
%script{:src => "http://js.pusher.com/1.12/pusher.min.js", :type => "text/javascript"}
:javascript
  var pusher = new Pusher("#{Pusher.key}");

  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vEfjrpNU8TQkIFpweGLQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
