!!!
%html{"ng:app" => "mockupGo"}
  %head
    %titleMockupGo
    = stylesheet_link_tag    "application", :media => "all"
    %script{:src => "/assets/libs/angular.min.js", :type => "text/javascript"}
    %script{:src => "/assets/libs/angular-ui.min.js", :type => "text/javascript"}
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{:content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;", :name => "viewport"}/



  = yield


%script{:src => "http://js.pusher.com/1.12/pusher.min.js", :type => "text/javascript"}
:javascript
  var pusher = new Pusher("#{Pusher.key}");
